<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <h1>Presentación</h1>
  <img src="assets/Mi foto.jpeg" alt=""> <br>
  <h2>Nombre: Keith Ailen Luna Arias</h2> <br>
  <h2>Matricula: 2021-0471</h2>

  <button (click)="siguiente()">Ir a la próxima página</button>
</ion-content>
